<?xml version="1.0" encoding="utf-8"?>
<Library name="cup_winter_plants" shape="rectangle" default_fill="-16777216" default_outline="-65536" tex="0">
	<Template>
		<Name>cup_b_canina2sW</Name>
		<File>CUP\Terrains\cup_terrains_winter_plants\Bushes\cup_b_canina2sW.p3d</File>
		<Date>2020-07-02 16:15:14.147998</Date>
		<Archive></Archive>
		<Fill>-16727808</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>1967650924</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>cup_b_corylus2sW</Name>
		<File>CUP\Terrains\cup_terrains_winter_plants\Bushes\cup_b_corylus2sW.p3d</File>
		<Date>2020-07-02 16:15:14.147998</Date>
		<Archive></Archive>
		<Fill>-16727808</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>569636669</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>cup_b_craet1W</Name>
		<File>CUP\Terrains\cup_terrains_winter_plants\Bushes\cup_b_craet1W.p3d</File>
		<Date>2020-07-02 16:15:14.147998</Date>
		<Archive></Archive>
		<Fill>-16727808</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>522383433</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>cup_b_craet2W</Name>
		<File>CUP\Terrains\cup_terrains_winter_plants\Bushes\cup_b_craet2W.p3d</File>
		<Date>2020-07-02 16:15:14.147998</Date>
		<Archive></Archive>
		<Fill>-16727808</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>522449032</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>cup_b_prunusW</Name>
		<File>CUP\Terrains\cup_terrains_winter_plants\Bushes\cup_b_prunusW.p3d</File>
		<Date>2020-07-02 16:15:14.147998</Date>
		<Archive></Archive>
		<Fill>-16727808</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>-247074976</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>cup_b_salix2sW</Name>
		<File>CUP\Terrains\cup_terrains_winter_plants\Bushes\cup_b_salix2sW.p3d</File>
		<Date>2020-07-02 16:15:14.147998</Date>
		<Archive></Archive>
		<Fill>-16727808</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>1349675719</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>cup_b_sambucusW</Name>
		<File>CUP\Terrains\cup_terrains_winter_plants\Bushes\cup_b_sambucusW.p3d</File>
		<Date>2020-07-02 16:15:14.147998</Date>
		<Archive></Archive>
		<Fill>-16727808</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>-1895527798</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>cup_p_heracleumW</Name>
		<File>CUP\Terrains\cup_terrains_winter_plants\Bushes\cup_p_heracleumW.p3d</File>
		<Date>2020-07-02 16:15:14.147998</Date>
		<Archive></Archive>
		<Fill>-16727808</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>1742332255</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>cup_p_urticaW</Name>
		<File>CUP\Terrains\cup_terrains_winter_plants\Bushes\cup_p_urticaW.p3d</File>
		<Date>2020-07-02 16:15:14.147998</Date>
		<Archive></Archive>
		<Fill>-16727808</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>1980198327</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>cup_blueBerryW</Name>
		<File>CUP\Terrains\cup_terrains_winter_plants\Clutter\cup_blueBerryW.p3d</File>
		<Date>2020-07-02 16:15:14.147998</Date>
		<Archive></Archive>
		<Fill>-16727808</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>-50873540</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>cup_b_sambucusw_1</Name>
		<File>CUP\Terrains\cup_terrains_winter_plants\Clutter\cup_b_sambucusW.p3d</File>
		<Date>2020-07-02 16:15:14.147998</Date>
		<Archive></Archive>
		<Fill>-16727808</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>-1787499204</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>cup_fernW</Name>
		<File>CUP\Terrains\cup_terrains_winter_plants\Clutter\cup_fernW.p3d</File>
		<Date>2020-07-02 16:15:14.147998</Date>
		<Archive></Archive>
		<Fill>-16727808</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>-1153802725</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>cup_GrassCrookedW</Name>
		<File>CUP\Terrains\cup_terrains_winter_plants\Clutter\cup_GrassCrookedW.p3d</File>
		<Date>2020-07-02 16:15:14.147998</Date>
		<Archive></Archive>
		<Fill>-16727808</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>-470690991</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>cup_GrassTallW</Name>
		<File>CUP\Terrains\cup_terrains_winter_plants\Clutter\cup_GrassTallW.p3d</File>
		<Date>2020-07-02 16:15:14.147998</Date>
		<Archive></Archive>
		<Fill>-16727808</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>-700847147</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>cup_PhragmitesW</Name>
		<File>CUP\Terrains\cup_terrains_winter_plants\Clutter\cup_PhragmitesW.p3d</File>
		<Date>2020-07-02 16:15:14.147998</Date>
		<Archive></Archive>
		<Fill>-16727808</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>-1877068560</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>cup_piceaW</Name>
		<File>CUP\Terrains\cup_terrains_winter_plants\Clutter\cup_piceaW.p3d</File>
		<Date>2020-07-02 16:15:14.147998</Date>
		<Archive></Archive>
		<Fill>-16727808</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>-1600475854</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>cup_raspBerryW</Name>
		<File>CUP\Terrains\cup_terrains_winter_plants\Clutter\cup_raspBerryW.p3d</File>
		<Date>2020-07-02 16:15:14.147998</Date>
		<Archive></Archive>
		<Fill>-16727808</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>-302149330</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>cup_misc_FallenSpruceW</Name>
		<File>CUP\Terrains\cup_terrains_winter_plants\dead\cup_misc_FallenSpruceW.p3d</File>
		<Date>2020-07-02 16:15:14.147998</Date>
		<Archive></Archive>
		<Fill>-16727808</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>303938783</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>cup_misc_FallenTree1W</Name>
		<File>CUP\Terrains\cup_terrains_winter_plants\dead\cup_misc_FallenTree1W.p3d</File>
		<Date>2020-07-02 16:15:14.147998</Date>
		<Archive></Archive>
		<Fill>-16760832</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>-920903014</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>cup_misc_FallenTree2W</Name>
		<File>CUP\Terrains\cup_terrains_winter_plants\dead\cup_misc_FallenTree2W.p3d</File>
		<Date>2020-07-02 16:15:14.147998</Date>
		<Archive></Archive>
		<Fill>-16760832</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>-920837415</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>cup_misc_stub1W</Name>
		<File>CUP\Terrains\cup_terrains_winter_plants\dead\cup_misc_stub1W.p3d</File>
		<Date>2020-07-02 16:15:14.147998</Date>
		<Archive></Archive>
		<Fill>-16727808</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>-442049850</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>cup_misc_stub2W</Name>
		<File>CUP\Terrains\cup_terrains_winter_plants\dead\cup_misc_stub2W.p3d</File>
		<Date>2020-07-02 16:15:14.147998</Date>
		<Archive></Archive>
		<Fill>-16727808</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>-441984251</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>cup_Misc_trunk_torzoW</Name>
		<File>CUP\Terrains\cup_terrains_winter_plants\dead\cup_Misc_trunk_torzoW.p3d</File>
		<Date>2020-07-02 16:15:14.147998</Date>
		<Archive></Archive>
		<Fill>-16727808</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>-1767759640</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>cup_Misc_trunk_waterW</Name>
		<File>CUP\Terrains\cup_terrains_winter_plants\dead\cup_Misc_trunk_waterW.p3d</File>
		<Date>2020-07-02 16:15:14.147998</Date>
		<Archive></Archive>
		<Fill>-16727808</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>1962110781</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>cup_TimbersW</Name>
		<File>CUP\Terrains\cup_terrains_winter_plants\dead\cup_TimbersW.p3d</File>
		<Date>2020-07-02 16:15:14.147998</Date>
		<Archive></Archive>
		<Fill>-16727808</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>1083471100</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>cup_b_betulaHumilisW</Name>
		<File>CUP\Terrains\cup_terrains_winter_plants\Trees\cup_b_betulaHumilisW.p3d</File>
		<Date>2020-07-02 16:15:14.147998</Date>
		<Archive></Archive>
		<Fill>-16760832</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>-540087103</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>cup_b_corylusW</Name>
		<File>CUP\Terrains\cup_terrains_winter_plants\Trees\cup_b_corylusW.p3d</File>
		<Date>2020-07-02 16:15:14.147998</Date>
		<Archive></Archive>
		<Fill>-16760832</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>-1943218370</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>cup_b_pmugoW</Name>
		<File>CUP\Terrains\cup_terrains_winter_plants\Trees\cup_b_pmugoW.p3d</File>
		<Date>2020-07-02 16:15:14.147998</Date>
		<Archive></Archive>
		<Fill>-16760832</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>-561351275</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>cup_t_acer2sW</Name>
		<File>CUP\Terrains\cup_terrains_winter_plants\Trees\cup_t_acer2sW.p3d</File>
		<Date>2020-07-02 16:15:14.147998</Date>
		<Archive></Archive>
		<Fill>-16760832</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>1246683995</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>cup_t_alnus2sW</Name>
		<File>CUP\Terrains\cup_terrains_winter_plants\Trees\cup_t_alnus2sW.p3d</File>
		<Date>2020-07-02 16:15:14.147998</Date>
		<Archive></Archive>
		<Fill>-16760832</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>-135203295</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>cup_t_betula1fW</Name>
		<File>CUP\Terrains\cup_terrains_winter_plants\Trees\cup_t_betula1fW.p3d</File>
		<Date>2020-07-02 16:15:14.147998</Date>
		<Archive></Archive>
		<Fill>-16760832</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>-337262147</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>cup_t_betula2fW</Name>
		<File>CUP\Terrains\cup_terrains_winter_plants\Trees\cup_t_betula2fW.p3d</File>
		<Date>2020-07-02 16:15:14.147998</Date>
		<Archive></Archive>
		<Fill>-16760832</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>-329000642</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>cup_t_betula2sW</Name>
		<File>CUP\Terrains\cup_terrains_winter_plants\Trees\cup_t_betula2sW.p3d</File>
		<Date>2020-07-02 16:15:14.147998</Date>
		<Archive></Archive>
		<Fill>-16760832</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>-328147855</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>cup_t_betula2wW</Name>
		<File>CUP\Terrains\cup_terrains_winter_plants\Trees\cup_t_betula2wW.p3d</File>
		<Date>2020-07-02 16:15:14.147998</Date>
		<Archive></Archive>
		<Fill>-16760832</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>-327885459</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>cup_t_carpinus2sW</Name>
		<File>CUP\Terrains\cup_terrains_winter_plants\Trees\cup_t_carpinus2sW.p3d</File>
		<Date>2020-07-02 16:15:14.147998</Date>
		<Archive></Archive>
		<Fill>-16760832</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>1609655467</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>cup_t_fagus2fW</Name>
		<File>CUP\Terrains\cup_terrains_winter_plants\Trees\cup_t_fagus2fW.p3d</File>
		<Date>2020-07-02 16:15:14.147998</Date>
		<Archive></Archive>
		<Fill>-16760832</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>1479377765</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>cup_t_fagus2sW</Name>
		<File>CUP\Terrains\cup_terrains_winter_plants\Trees\cup_t_fagus2sW.p3d</File>
		<Date>2020-07-02 16:15:14.147998</Date>
		<Archive></Archive>
		<Fill>-16760832</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>1480230552</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>cup_t_fagus2WW</Name>
		<File>CUP\Terrains\cup_terrains_winter_plants\Trees\cup_t_fagus2WW.p3d</File>
		<Date>2020-07-02 16:15:14.147998</Date>
		<Archive></Archive>
		<Fill>-16760832</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>1478393780</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>cup_t_fraxinus2sW</Name>
		<File>CUP\Terrains\cup_terrains_winter_plants\Trees\cup_t_fraxinus2sW.p3d</File>
		<Date>2020-07-02 16:15:14.147998</Date>
		<Archive></Archive>
		<Fill>-16760832</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>1851171652</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>cup_t_fraxinus2WW</Name>
		<File>CUP\Terrains\cup_terrains_winter_plants\Trees\cup_t_fraxinus2WW.p3d</File>
		<Date>2020-07-02 16:15:14.147998</Date>
		<Archive></Archive>
		<Fill>-16760832</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>1849334880</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>cup_t_larix3fW</Name>
		<File>CUP\Terrains\cup_terrains_winter_plants\Trees\cup_t_larix3fW.p3d</File>
		<Date>2020-07-02 16:15:14.147998</Date>
		<Archive></Archive>
		<Fill>-16760832</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>-661943612</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>cup_t_larix3sW</Name>
		<File>CUP\Terrains\cup_terrains_winter_plants\Trees\cup_t_larix3sW.p3d</File>
		<Date>2020-07-02 16:15:14.147998</Date>
		<Archive></Archive>
		<Fill>-16760832</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>-661090825</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>cup_t_malus1sW</Name>
		<File>CUP\Terrains\cup_terrains_winter_plants\Trees\cup_t_malus1sW.p3d</File>
		<Date>2020-07-02 16:15:14.147998</Date>
		<Archive></Archive>
		<Fill>-16760832</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>1008089483</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>cup_t_picea1sW</Name>
		<File>CUP\Terrains\cup_terrains_winter_plants\Trees\cup_t_picea1sW.p3d</File>
		<Date>2020-07-02 16:15:14.147998</Date>
		<Archive></Archive>
		<Fill>-16760832</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>-1965901285</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>cup_t_picea2sW</Name>
		<File>CUP\Terrains\cup_terrains_winter_plants\Trees\cup_t_picea2sW.p3d</File>
		<Date>2020-07-02 16:15:14.147998</Date>
		<Archive></Archive>
		<Fill>-16760832</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>-1957639780</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>cup_t_picea3fW</Name>
		<File>CUP\Terrains\cup_terrains_winter_plants\Trees\cup_t_picea3fW.p3d</File>
		<Date>2020-07-02 16:15:14.147998</Date>
		<Archive></Archive>
		<Fill>-16760832</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>-1950231062</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>cup_t_pinusN1sW</Name>
		<File>CUP\Terrains\cup_terrains_winter_plants\Trees\cup_t_pinusN1sW.p3d</File>
		<Date>2020-07-02 16:15:14.147998</Date>
		<Archive></Archive>
		<Fill>-16760832</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>1712683982</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>cup_t_pinusN2sW</Name>
		<File>CUP\Terrains\cup_terrains_winter_plants\Trees\cup_t_pinusN2sW.p3d</File>
		<Date>2020-07-02 16:15:14.147998</Date>
		<Archive></Archive>
		<Fill>-16760832</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>1720945487</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>cup_t_pinusS2fW</Name>
		<File>CUP\Terrains\cup_terrains_winter_plants\Trees\cup_t_pinusS2fW.p3d</File>
		<Date>2020-07-02 16:15:14.147998</Date>
		<Archive></Archive>
		<Fill>-16760832</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>1328061399</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>cup_t_populus3sW</Name>
		<File>CUP\Terrains\cup_terrains_winter_plants\Trees\cup_t_populus3sW.p3d</File>
		<Date>2020-07-02 16:15:14.147998</Date>
		<Archive></Archive>
		<Fill>-16760832</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>1895503837</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>cup_t_pyrus2sW</Name>
		<File>CUP\Terrains\cup_terrains_winter_plants\Trees\cup_t_pyrus2sW.p3d</File>
		<Date>2020-07-02 16:15:14.147998</Date>
		<Archive></Archive>
		<Fill>-16760832</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>-1093008933</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>cup_t_quercus2fW</Name>
		<File>CUP\Terrains\cup_terrains_winter_plants\Trees\cup_t_quercus2fW.p3d</File>
		<Date>2020-07-02 16:15:14.147998</Date>
		<Archive></Archive>
		<Fill>-16760832</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>-930193025</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>cup_t_quercus3sW</Name>
		<File>CUP\Terrains\cup_terrains_winter_plants\Trees\cup_t_quercus3sW.p3d</File>
		<Date>2020-07-02 16:15:14.147998</Date>
		<Archive></Archive>
		<Fill>-16760832</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>-921078733</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>cup_t_salix2sW</Name>
		<File>CUP\Terrains\cup_terrains_winter_plants\Trees\cup_t_salix2sW.p3d</File>
		<Date>2020-07-02 16:15:14.147998</Date>
		<Archive></Archive>
		<Fill>-16760832</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>-930344139</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>cup_t_sorbus2sW</Name>
		<File>CUP\Terrains\cup_terrains_winter_plants\Trees\cup_t_sorbus2sW.p3d</File>
		<Date>2020-07-02 16:15:14.147998</Date>
		<Archive></Archive>
		<Fill>-16760832</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>-1493148736</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>s_xmastree</Name>
		<File>CUP\Terrains\cup_terrains_winter_plants\Trees\s_xmastree.p3d</File>
		<Date>2020-07-02 16:15:14.147998</Date>
		<Archive></Archive>
		<Fill>-16760832</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>-659046223</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
</Library>