<?xml version="1.0" encoding="utf-8"?>
<Library name="taki_plants_bush" shape="rectangle" default_fill="-16777216" default_outline="-65536" tex="0">
	<Template>
		<Name>b_AmygdalusN1s_EP1</Name>
		<File>ca\plants_e\Bush\b_AmygdalusN1s_EP1.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-16727808</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>323178433</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>b_PinusM1s_EP1</Name>
		<File>ca\plants_e\Bush\b_PinusM1s_EP1.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-16727808</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>1791053120</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>b_PistaciaL1s_EP1</Name>
		<File>ca\plants_e\Bush\b_PistaciaL1s_EP1.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-16727808</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>2052089028</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>b_Elderberry2s_PMC</Name>
		<File>ca\plants_pmc\Bush\b_Elderberry2s_PMC.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-16727808</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>950077265</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>b_Hip2s_PMC</Name>
		<File>ca\plants_pmc\Bush\b_Hip2s_PMC.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-16727808</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>1300987642</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
</Library>