<?xml version="1.0" encoding="utf-8"?>
<Library name="taki_struc_castle" shape="rectangle" default_fill="-16777216" default_outline="-65536" tex="0">
	<Template>
		<Name>A_Castle_Bastion</Name>
		<File>ca\structures\Castle\A_Castle_Bastion.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-10912896</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>-801859297</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>A_Castle_Bastion_ruins</Name>
		<File>ca\structures\Castle\A_Castle_Bastion_ruins.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-10912896</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>-882098645</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>A_Castle_Bergfrit</Name>
		<File>ca\structures\Castle\A_Castle_Bergfrit.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-10912896</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>460320728</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>A_Castle_Bergfrit_dam</Name>
		<File>ca\structures\Castle\A_Castle_Bergfrit_dam.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-10912896</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>-1103645335</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>A_Castle_Bergfrit_ruins</Name>
		<File>ca\structures\Castle\A_Castle_Bergfrit_ruins.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-10912896</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>-1085477020</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>A_Castle_Donjon</Name>
		<File>ca\structures\Castle\A_Castle_Donjon.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-10912896</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>1508012623</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>A_Castle_Donjon_dam</Name>
		<File>ca\structures\Castle\A_Castle_Donjon_dam.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-10912896</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>-439852832</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>A_Castle_Donjon_ruins</Name>
		<File>ca\structures\Castle\A_Castle_Donjon_ruins.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-10912896</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>-1915662501</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>A_Castle_Gate</Name>
		<File>ca\structures\Castle\A_Castle_Gate.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-10912896</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>-164677324</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>A_Castle_Gate_ruins</Name>
		<File>ca\structures\Castle\A_Castle_Gate_ruins.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-10912896</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>-1057198400</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>A_Castle_Wall1_20</Name>
		<File>ca\structures\Castle\A_Castle_Wall1_20.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-10912896</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>1179644447</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>A_Castle_Wall1_20_ruins</Name>
		<File>ca\structures\Castle\A_Castle_Wall1_20_ruins.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-10912896</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>1441929003</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>A_Castle_Wall1_20_Turn</Name>
		<File>ca\structures\Castle\A_Castle_Wall1_20_Turn.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-10912896</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>-1832827107</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>A_Castle_Wall1_20_turn_ruins</Name>
		<File>ca\structures\Castle\A_Castle_Wall1_20_turn_ruins.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-10912896</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>-1466542327</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>A_Castle_Wall1_Corner</Name>
		<File>ca\structures\Castle\A_Castle_Wall1_Corner.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-10912896</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>1634992470</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>A_Castle_Wall1_Corner_2</Name>
		<File>ca\structures\Castle\A_Castle_Wall1_Corner_2.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-10912896</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>-1875128855</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>A_Castle_Wall1_Corner_2_ruins</Name>
		<File>ca\structures\Castle\A_Castle_Wall1_Corner_2_ruins.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-10912896</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>-951737355</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>A_Castle_Wall1_Corner_ruins</Name>
		<File>ca\structures\Castle\A_Castle_Wall1_Corner_ruins.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-10912896</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>38331362</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>A_Castle_Wall1_End</Name>
		<File>ca\structures\Castle\A_Castle_Wall1_End.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-10912896</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>1231342554</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>A_Castle_Wall1_End_2</Name>
		<File>ca\structures\Castle\A_Castle_Wall1_End_2.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-10912896</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>963090029</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>A_Castle_Wall1_End_2_ruins</Name>
		<File>ca\structures\Castle\A_Castle_Wall1_End_2_ruins.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-10912896</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>-127375751</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>A_Castle_Wall1_End_ruins</Name>
		<File>ca\structures\Castle\A_Castle_Wall1_End_ruins.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-10912896</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>1351460966</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>A_Castle_Wall2_30</Name>
		<File>ca\structures\Castle\A_Castle_Wall2_30.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-10912896</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>1960297245</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>A_Castle_Wall2_30_ruins</Name>
		<File>ca\structures\Castle\A_Castle_Wall2_30_ruins.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-10912896</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>-1436906711</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>A_Castle_Wall2_Corner</Name>
		<File>ca\structures\Castle\A_Castle_Wall2_Corner.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-10912896</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>75870997</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>A_Castle_Wall2_Corner_2</Name>
		<File>ca\structures\Castle\A_Castle_Wall2_Corner_2.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-10912896</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>1100124200</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>A_Castle_Wall2_Corner_2_ruins</Name>
		<File>ca\structures\Castle\A_Castle_Wall2_Corner_2_ruins.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-10912896</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>1424627636</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>A_Castle_Wall2_Corner_ruins</Name>
		<File>ca\structures\Castle\A_Castle_Wall2_Corner_ruins.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-10912896</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>1959331617</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>A_Castle_Wall2_End</Name>
		<File>ca\structures\Castle\A_Castle_Wall2_End.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-10912896</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>-1924060453</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>A_Castle_Wall2_End_2</Name>
		<File>ca\structures\Castle\A_Castle_Wall2_End_2.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-10912896</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>261260526</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>A_Castle_Wall2_End_2_ruins</Name>
		<File>ca\structures\Castle\A_Castle_Wall2_End_2_ruins.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-10912896</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>-990870662</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>A_Castle_Wall2_End_ruins</Name>
		<File>ca\structures\Castle\A_Castle_Wall2_End_ruins.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-10912896</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>-1222216217</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>A_Castle_WallS_10</Name>
		<File>ca\structures\Castle\A_Castle_WallS_10.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-10912896</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>1949739838</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>A_Castle_WallS_10_ruins</Name>
		<File>ca\structures\Castle\A_Castle_WallS_10_ruins.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-10912896</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>1080439242</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>A_Castle_WallS_5_D</Name>
		<File>ca\structures\Castle\A_Castle_WallS_5_D.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-10912896</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>1188654619</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>A_Castle_WallS_5_D_ruins</Name>
		<File>ca\structures\Castle\A_Castle_WallS_5_D_ruins.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-10912896</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>1809176871</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>A_Castle_WallS_End</Name>
		<File>ca\structures\Castle\A_Castle_WallS_End.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-10912896</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>1321822716</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>A_Castle_WallS_End_ruins</Name>
		<File>ca\structures\Castle\A_Castle_WallS_End_ruins.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-10912896</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>-254217336</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>bergfrit_road4</Name>
		<File>ca\structures\Castle\Data\bergfrit_road4.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-12566464</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>311939876</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>bergfrit_roadn</Name>
		<File>ca\structures\Castle\Data\bergfrit_roadn.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-12566464</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>311939934</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
</Library>