<?xml version="1.0" encoding="utf-8"?>
<Library name="taki_struc_misc_powerlines" shape="rectangle" default_fill="-16777216" default_outline="-65536" tex="0">
	<Template>
		<Name>PowLines_Conc1</Name>
		<File>ca\structures\misc_powerlines\PowLines_Conc1.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-16727808</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>1702796600</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>PowLines_Conc2</Name>
		<File>ca\structures\misc_powerlines\PowLines_Conc2.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-16727808</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>1702796601</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>PowLines_Conc3</Name>
		<File>ca\structures\misc_powerlines\PowLines_Conc3.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-16727808</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>1702796602</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>PowLines_ConcA</Name>
		<File>ca\structures\misc_powerlines\PowLines_ConcA.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-16727808</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>1702796616</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>PowLines_ConcL</Name>
		<File>ca\structures\misc_powerlines\PowLines_ConcL.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-16727808</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>1702796627</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>PowLines_Transformer1</Name>
		<File>ca\structures\misc_powerlines\PowLines_Transformer1.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-16727808</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>-1107957840</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>PowLines_Transformer2</Name>
		<File>ca\structures\misc_powerlines\PowLines_Transformer2.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-16727808</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>-1107957839</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>PowLines_Wood1</Name>
		<File>ca\structures\misc_powerlines\PowLines_Wood1.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-16727808</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>-1267394292</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>PowLines_Wood2</Name>
		<File>ca\structures\misc_powerlines\PowLines_Wood2.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-16727808</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>-1267394291</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>PowLines_WoodA</Name>
		<File>ca\structures\misc_powerlines\PowLines_WoodA.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-16727808</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>-1267394276</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>PowLines_WoodL</Name>
		<File>ca\structures\misc_powerlines\PowLines_WoodL.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-16727808</Fill>
		<Outline>-1</Outline>
		<Scale>1.000000</Scale>
		<Hash>-1267394265</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
</Library>