<?xml version="1.0" encoding="utf-8"?>
<Library name="taki_signs_signc" shape="rectangle" default_fill="-16777216" default_outline="-65536" tex="0">
	<Template>
		<Name>SignC_01_1</Name>
		<File>ca\signs_e\SignC\SignC_01_1.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-15653149</Fill>
		<Outline>-16777216</Outline>
		<Scale>1.000000</Scale>
		<Hash>-1956851700</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>SignC_01_2</Name>
		<File>ca\signs_e\SignC\SignC_01_2.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-15653149</Fill>
		<Outline>-16777216</Outline>
		<Scale>1.000000</Scale>
		<Hash>-1956851699</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>SignC_01_3</Name>
		<File>ca\signs_e\SignC\SignC_01_3.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-15653149</Fill>
		<Outline>-16777216</Outline>
		<Scale>1.000000</Scale>
		<Hash>-1956851698</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>SignC_02_1</Name>
		<File>ca\signs_e\SignC\SignC_02_1.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-15653149</Fill>
		<Outline>-16777216</Outline>
		<Scale>1.000000</Scale>
		<Hash>-1948590195</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>SignC_02_2</Name>
		<File>ca\signs_e\SignC\SignC_02_2.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-15653149</Fill>
		<Outline>-16777216</Outline>
		<Scale>1.000000</Scale>
		<Hash>-1948590194</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>SignC_02_3</Name>
		<File>ca\signs_e\SignC\SignC_02_3.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-15653149</Fill>
		<Outline>-16777216</Outline>
		<Scale>1.000000</Scale>
		<Hash>-1948590193</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>SignC_03_1</Name>
		<File>ca\signs_e\SignC\SignC_03_1.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-15653149</Fill>
		<Outline>-16777216</Outline>
		<Scale>1.000000</Scale>
		<Hash>-1940328690</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>SignC_03_2</Name>
		<File>ca\signs_e\SignC\SignC_03_2.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-15653149</Fill>
		<Outline>-16777216</Outline>
		<Scale>1.000000</Scale>
		<Hash>-1940328689</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>SignC_04_1</Name>
		<File>ca\signs_e\SignC\SignC_04_1.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-15653149</Fill>
		<Outline>-16777216</Outline>
		<Scale>1.000000</Scale>
		<Hash>-1932067185</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>SignC_04_2</Name>
		<File>ca\signs_e\SignC\SignC_04_2.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-15653149</Fill>
		<Outline>-16777216</Outline>
		<Scale>1.000000</Scale>
		<Hash>-1932067184</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>SignC_04_3</Name>
		<File>ca\signs_e\SignC\SignC_04_3.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-15653149</Fill>
		<Outline>-16777216</Outline>
		<Scale>1.000000</Scale>
		<Hash>-1932067183</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>SignC_05_1</Name>
		<File>ca\signs_e\SignC\SignC_05_1.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-15653149</Fill>
		<Outline>-16777216</Outline>
		<Scale>1.000000</Scale>
		<Hash>-1923805680</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>SignC_05_2</Name>
		<File>ca\signs_e\SignC\SignC_05_2.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-15653149</Fill>
		<Outline>-16777216</Outline>
		<Scale>1.000000</Scale>
		<Hash>-1923805679</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>SignC_05_3</Name>
		<File>ca\signs_e\SignC\SignC_05_3.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-15653149</Fill>
		<Outline>-16777216</Outline>
		<Scale>1.000000</Scale>
		<Hash>-1923805678</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>SignC_06_1</Name>
		<File>ca\signs_e\SignC\SignC_06_1.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-15653149</Fill>
		<Outline>-16777216</Outline>
		<Scale>1.000000</Scale>
		<Hash>-1915544175</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>SignC_06_2</Name>
		<File>ca\signs_e\SignC\SignC_06_2.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-15653149</Fill>
		<Outline>-16777216</Outline>
		<Scale>1.000000</Scale>
		<Hash>-1915544174</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>SignC_06_3</Name>
		<File>ca\signs_e\SignC\SignC_06_3.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-15653149</Fill>
		<Outline>-16777216</Outline>
		<Scale>1.000000</Scale>
		<Hash>-1915544173</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>SignC_07_1</Name>
		<File>ca\signs_e\SignC\SignC_07_1.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-15653149</Fill>
		<Outline>-16777216</Outline>
		<Scale>1.000000</Scale>
		<Hash>-1907282670</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>SignC_07_2</Name>
		<File>ca\signs_e\SignC\SignC_07_2.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-15653149</Fill>
		<Outline>-16777216</Outline>
		<Scale>1.000000</Scale>
		<Hash>-1907282669</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>SignC_07_3</Name>
		<File>ca\signs_e\SignC\SignC_07_3.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-15653149</Fill>
		<Outline>-16777216</Outline>
		<Scale>1.000000</Scale>
		<Hash>-1907282668</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>SignC_08_1</Name>
		<File>ca\signs_e\SignC\SignC_08_1.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-15653149</Fill>
		<Outline>-16777216</Outline>
		<Scale>1.000000</Scale>
		<Hash>-1899021165</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>SignC_08_2</Name>
		<File>ca\signs_e\SignC\SignC_08_2.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-15653149</Fill>
		<Outline>-16777216</Outline>
		<Scale>1.000000</Scale>
		<Hash>-1899021164</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>SignC_08_3</Name>
		<File>ca\signs_e\SignC\SignC_08_3.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-15653149</Fill>
		<Outline>-16777216</Outline>
		<Scale>1.000000</Scale>
		<Hash>-1899021163</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>SignC_09_1</Name>
		<File>ca\signs_e\SignC\SignC_09_1.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-15653149</Fill>
		<Outline>-16777216</Outline>
		<Scale>1.000000</Scale>
		<Hash>-1890759660</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>SignC_09_2</Name>
		<File>ca\signs_e\SignC\SignC_09_2.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-15653149</Fill>
		<Outline>-16777216</Outline>
		<Scale>1.000000</Scale>
		<Hash>-1890759659</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>SignC_09_3</Name>
		<File>ca\signs_e\SignC\SignC_09_3.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-15653149</Fill>
		<Outline>-16777216</Outline>
		<Scale>1.000000</Scale>
		<Hash>-1890759658</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>SignC_10_1</Name>
		<File>ca\signs_e\SignC\SignC_10_1.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-15653149</Fill>
		<Outline>-16777216</Outline>
		<Scale>1.000000</Scale>
		<Hash>-1184526006</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>SignC_10_2</Name>
		<File>ca\signs_e\SignC\SignC_10_2.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-15653149</Fill>
		<Outline>-16777216</Outline>
		<Scale>1.000000</Scale>
		<Hash>-1184526005</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>SignC_10_3</Name>
		<File>ca\signs_e\SignC\SignC_10_3.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-15653149</Fill>
		<Outline>-16777216</Outline>
		<Scale>1.000000</Scale>
		<Hash>-1184526004</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>SignC_11_1</Name>
		<File>ca\signs_e\SignC\SignC_11_1.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-15653149</Fill>
		<Outline>-16777216</Outline>
		<Scale>1.000000</Scale>
		<Hash>-1176264501</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>SignC_11_2</Name>
		<File>ca\signs_e\SignC\SignC_11_2.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-15653149</Fill>
		<Outline>-16777216</Outline>
		<Scale>1.000000</Scale>
		<Hash>-1176264500</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>SignC_12_1</Name>
		<File>ca\signs_e\SignC\SignC_12_1.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-15653149</Fill>
		<Outline>-16777216</Outline>
		<Scale>1.000000</Scale>
		<Hash>-1168002996</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>SignC_12_2</Name>
		<File>ca\signs_e\SignC\SignC_12_2.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-15653149</Fill>
		<Outline>-16777216</Outline>
		<Scale>1.000000</Scale>
		<Hash>-1168002995</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>SignC_12_3</Name>
		<File>ca\signs_e\SignC\SignC_12_3.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-15653149</Fill>
		<Outline>-16777216</Outline>
		<Scale>1.000000</Scale>
		<Hash>-1168002994</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>SignC_13_1</Name>
		<File>ca\signs_e\SignC\SignC_13_1.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-15653149</Fill>
		<Outline>-16777216</Outline>
		<Scale>1.000000</Scale>
		<Hash>-1159741491</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>SignC_13_2</Name>
		<File>ca\signs_e\SignC\SignC_13_2.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-15653149</Fill>
		<Outline>-16777216</Outline>
		<Scale>1.000000</Scale>
		<Hash>-1159741490</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>SignC_13_3</Name>
		<File>ca\signs_e\SignC\SignC_13_3.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-15653149</Fill>
		<Outline>-16777216</Outline>
		<Scale>1.000000</Scale>
		<Hash>-1159741489</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>SignC_14_1</Name>
		<File>ca\signs_e\SignC\SignC_14_1.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-15653149</Fill>
		<Outline>-16777216</Outline>
		<Scale>1.000000</Scale>
		<Hash>-1151479986</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>SignC_14_2</Name>
		<File>ca\signs_e\SignC\SignC_14_2.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-15653149</Fill>
		<Outline>-16777216</Outline>
		<Scale>1.000000</Scale>
		<Hash>-1151479985</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>SignC_14_3</Name>
		<File>ca\signs_e\SignC\SignC_14_3.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-15653149</Fill>
		<Outline>-16777216</Outline>
		<Scale>1.000000</Scale>
		<Hash>-1151479984</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>SignC_15_1</Name>
		<File>ca\signs_e\SignC\SignC_15_1.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-15653149</Fill>
		<Outline>-16777216</Outline>
		<Scale>1.000000</Scale>
		<Hash>-1143218481</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>SignC_15_2</Name>
		<File>ca\signs_e\SignC\SignC_15_2.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-15653149</Fill>
		<Outline>-16777216</Outline>
		<Scale>1.000000</Scale>
		<Hash>-1143218480</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>SignC_15_3</Name>
		<File>ca\signs_e\SignC\SignC_15_3.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-15653149</Fill>
		<Outline>-16777216</Outline>
		<Scale>1.000000</Scale>
		<Hash>-1143218479</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>SignC_16_1</Name>
		<File>ca\signs_e\SignC\SignC_16_1.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-15653149</Fill>
		<Outline>-16777216</Outline>
		<Scale>1.000000</Scale>
		<Hash>-1134956976</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>SignC_16_2</Name>
		<File>ca\signs_e\SignC\SignC_16_2.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-15653149</Fill>
		<Outline>-16777216</Outline>
		<Scale>1.000000</Scale>
		<Hash>-1134956975</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>SignC_16_3</Name>
		<File>ca\signs_e\SignC\SignC_16_3.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-15653149</Fill>
		<Outline>-16777216</Outline>
		<Scale>1.000000</Scale>
		<Hash>-1134956974</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>SignC_17_1</Name>
		<File>ca\signs_e\SignC\SignC_17_1.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-15653149</Fill>
		<Outline>-16777216</Outline>
		<Scale>1.000000</Scale>
		<Hash>-1126695471</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>SignC_17_2</Name>
		<File>ca\signs_e\SignC\SignC_17_2.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-15653149</Fill>
		<Outline>-16777216</Outline>
		<Scale>1.000000</Scale>
		<Hash>-1126695470</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>SignC_18_1</Name>
		<File>ca\signs_e\SignC\SignC_18_1.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-15653149</Fill>
		<Outline>-16777216</Outline>
		<Scale>1.000000</Scale>
		<Hash>-1118433966</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
	<Template>
		<Name>SignC_18_2</Name>
		<File>ca\signs_e\SignC\SignC_18_2.p3d</File>
		<Date>2020-07-02 16:14:55.886890</Date>
		<Archive></Archive>
		<Fill>-15653149</Fill>
		<Outline>-16777216</Outline>
		<Scale>1.000000</Scale>
		<Hash>-1118433965</Hash>
		<ScaleRandMin>0.000000</ScaleRandMin>
		<ScaleRandMax>0.000000</ScaleRandMax>
		<YawRandMin>0.000000</YawRandMin>
		<YawRandMax>0.000000</YawRandMax>
		<PitchRandMin>0.000000</PitchRandMin>
		<PitchRandMax>0.000000</PitchRandMax>
		<RollRandMin>0.000000</RollRandMin>
		<RollRandMax>0.000000</RollRandMax>
		<TexLLU>0.000000</TexLLU>
		<TexLLV>0.000000</TexLLV>
		<TexURU>1.000000</TexURU>
		<TexURV>1.000000</TexURV>
		<BBRadius>-1.000000</BBRadius>
		<BBHScale>1.000000</BBHScale>
		<AutoCenter>0</AutoCenter>
		<XShift>0.000000</XShift>
		<YShift>0.000000</YShift>
		<ZShift>0.000000</ZShift>
		<Height>0.000000</Height>
		<BoundingMin X="999.000000" Y="999.000000" Z="999.000000"></BoundingMin>
		<BoundingMax X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingMax>
		<BoundingCenter X="-999.000000" Y="-999.000000" Z="-999.000000"></BoundingCenter>
		<Placement></Placement>
	</Template>
</Library>